- name: Update docker credentials
  hosts: all
  become: true
  tasks:
    - name: Login To Docker Registry
      become_user: "{{ app_user }}"
      community.docker.docker_login:
        registry_url: ghcr.io
        username: "{{ vault_docker_registry_user }}"
        password: "{{ vault_docker_registry_password }}" 

